version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app:delegated
      - /app/node_modules
      - ./src:/app/src:delegated
      - ./public:/app/public:delegated
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      # Supabase variables - these will be loaded from .env file via env_file or passed from host
      # Remove these empty lines to allow .env file to be used
    env_file:
      - .env
    stdin_open: true
    tty: true
    restart: unless-stopped
